mixin apple_favicons(favs) 
  each dimen in favs['dimen']
    link(rel=favs['rel'] sizes!=dimension, href='img/favicons/apple-icon-#{dimen}x#{dimen}.png')

mixin favicons(favs)
  each fav in favs
    link(rel='icon', type='image/png', sizes=dimension href='img/favicons/favicon-#{fav}x#{fav}.png')
